@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;900&family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #13183f;
  --light-color: #666ca3;
  --grey-color: #83869a;
  --pink-color: #f74780;
  --light-pink-color: #ffa7c3;
  --white: #ffffff;
  --grident-pink: #f02aa6;
  --grident-pink-brother: #ff6f48;
  --purple-color: #4851ff;
  --pinck-clr: #f02aa6;

  --grident-pur-broth: ;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  color: var(--dark-color);
}
.container {
  margin: 0 auto;
  overflow: hidden;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn {
  background: var(--dark-color);
  z-index: 1;
}

.nav__btn:hover,
.footer__btn:hover {
  background: var(--grey-color);
}
.btn {
  display: inline-block;
  color: var(--white);
  padding: 1.1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  transition: all 1s;
  font-weight: bold;
}

/* header */
.header {
  margin: 2.375rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 2.375rem;
  font-weight: 800;
  margin: 1.875rem 0;
}

.header__text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--grey-color);
}
.header__btn {
  background: linear-gradient(var(--grident-pink-brother), var(--grident-pink));
  margin: 1.375rem 0;
}

.header__btn:hover {
  opacity: 0.7;
}

.grid {
  display: grid;
  gap: 2.1rem;
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.box {
  border-radius: 10px;
  padding: 2.25rem;
  box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.05);
}

.main-box {
  background: linear-gradient(var(--grident-pink-brother), var(--grident-pink));
  color: #fff;
  padding: 2.3rem 0;
  text-align: center;
}

.box--title {
  margin: 1.3rem 0;
}

.link {
  margin-top: 1.3rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: var(--pinck-clr);
}
.link:hover {
  color: var(--light-pink-color);
}

/* footer */
.footer {
  background-color: var(--dark-color);
  padding: 1.2rem 1.3rem;
}

.footer__btn {
  background: linear-gradient(var(--purple-color), var(--grident-pink));
}

/* mobile */
@media (max-width: 576px) {
  .desktop-img {
    display: none;
  }

  .tablet-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }

  .container {
    padding: 0.75rem 1rem;
  }

  .box {
    padding: 0.813rem;
  }
}

/* tablet  */
@media (min-width: 577px) and (max-width: 976px) {
  .desktop-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }

  .container {
    position: relative;
  }

  .header {
    margin-bottom: 9.6rem;
  }

  .btn {
    padding: 0.77rem 1.6rem;
  }

  .navigation {
    max-width: 75rem;
    margin: 1.625rem 54px 0;
  }
  .tablet-img {
    width: 100%;

    transform: translate(130px, -21px);
    overflow: hidden;
    z-index: -1;
  }

  .header-content {
    padding: 0 0 0 55px;
  }
  .header__title {
    font-size: 35px;
    font-weight: 800;
    line-height: 1.05;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
  }

  .header__text {
    font-size: 14px;
  }

  .main {
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
  }

  .main-inner {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: 0px 43px;
    gap: 38px;
  }

  .margin-bottom-grid {
    margin-bottom: 39px;
  }

  .box--text {
    font-size: 12px;
    line-height: 1.5;
    color: var(--grey-color);
  }
}
/* desktop */
@media (min-width: 977px) {
  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: none;
  }

  .container {
    position: relative;
    padding: 0 28px;
  }

  .header {
    margin-bottom: 9.6rem;
  }

  .header__text {
    width: 84%;
  }

  .navigation {
    max-width: 1200px;
    margin: 26px;
  }
  .desktop-img {
    width: 961px;
    transform: translate(311px, -223px);
    overflow: hidden;
    z-index: -1;
    
      
   
  }

  .header-content {
    padding: 0 0 0 46px;
  }
  .header__title {
    font-size: 4.3rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
  }

  .main {
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
  }

  .main-inner {
    grid-template-columns: 1fr 1fr 1fr;
    /*  padding: 0 84px; */
    gap: 26px;
  }

  .box--text {
    font-size: 20px;
    line-height: 1.5;
    color: var(--grey-color);
  }

  .footer {
    margin-top: 33px;
  }
}
